<section>
    <div class="row mt-5">
        <div class="col-md-4 m-auto mt-5 p-5" style="border-style: solid;border-width: 1px;border-radius: 15px;border-color: silver;">
            <h2 class="text-center">Edit Product</h2>
            {{#each product}}
            {{#if this._id}}
            <form action="/edit-product/{{this.p_id}}" enctype="multipart/form-data" id="edit-product" method="post">
                <label for="">Name</label>
                <input type="text" name="name" class="form-control" value="{{this.product.name}}">

                <label for="">price</label>
                <input type="text" name="price" class="form-control" value="{{this.product.price}}">

                <label for="">description</label>
                <input type="text" name="description" class="form-control" value="{{this.product.description}}">

                <label for="">Image :</label><br>
                <img src="/images/product-images/{{this.p_id}}(1).jpg" alt="" style="height: 100px; width:100px; padding:10px" id="imgView">
                <input type="file" name="image" class="form-control" onchange="viewimage(event)">

                <button type="submit" class="btn btn-success mt-4">submit</button>
            </form>
            {{/if}}
            {{/each}}
    </div>
    </div>
</section>

<script>
    function viewimage(event){
        console.log(event)
        document.getElementById('imgView').src=URL.createObjectURL(event.target.files[0])
    }
</script>

<script src="https://code.jquery.com/jquery-3.6.0.min.js" integrity="sha256-/xUj+3OJU5yExlq6GSYGSHk7tPXikynS7ogEvDej/m4=" crossorigin="anonymous"></script>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery-validate/1.19.3/jquery.validate.min.js" integrity="sha512-37T7leoNS06R80c8Ulq7cdCDU5MNQBwlYoy1TX/WUsLFC2eYNqtKlV0QjH7r8JpG/S0GUMZwebnVFLPd6SU5yg==" crossorigin="anonymous" referrerpolicy="no-referrer"></script>
<script>
    $(document).ready(function(){
    $("#edit-product").validate({
      errorClass: "valierrors",
  
      rules:{
        name:{
          required:true,
          minlength:4
        },
  
        price:{
          required:true,
        },
  
        description:{
          required:true,
        },
      }
    })
  })
  
</script>