<div style="background-color: #dbd7d7; height:100vh">
<div class="container pt-5">
    {{#each product}}
    {{#if this._id}}
    <div class="row mt-5">
        <div class="col-md-8 row bg-white me-2" style="height: 400px;">
            <div class="col-md-6 pl-3 pt-5">
                <h5>Product-details</h5>
                <p class="mt-3">{{this.details}}</p>
            </div>
            <div class="col-md-6">
                <img class="mt-4" src="/images/product-images/{{this._id}}(1).jpg" alt="" height="250px">
                <div class="d-flex">
                    <img class="mt-3 mx-2" src="/images/product-images/{{this._id}}(1).jpg" alt="" height="50px">
                    <img class="mt-3 mx-2" src="/images/product-images/{{this._id}}(2).jpg" alt="" height="50px">
                    <img class="mt-3 mx-2" src="/images/product-images/{{this._id}}(3).jpg" alt="" height="50px">
                </div>
            </div>
        </div>
        <div class="col-md-4" style="height: 400px;">
            <div class="bg-white p-5" style="height: 200px;">
                <h2>₹ {{this.price}}</h2>
                <h5>{{this.name}}</h5>
                <a href="" class="btn btn-primary mt-3">Book Now</a>
            </div>
            <div class="bg-white mt-3 p-3" style="height:185px">
                <p>qwertyuio</p>
            </div>
        </div>
    </div>
    {{/if}}
    {{/each}}
</div>
</div>