<link rel="stylesheet" type="text/css" href="https://cdn.datatables.net/1.11.5/css/jquery.dataTables.css">

<div class="container-fluid ">
    <div class="row" style="width: 100%;">
        <div class="col-md-2 mt-5" style="background-color:#3074e3 ;">
            <div class="d-flex flex-column align-items-center align-items-sm-start mt-4 px-3 pt-2 text-white min-vh-100 ">
                <ul class="nav nav-pills flex-column mb-sm-auto mb-0 align-items-center align-items-sm-start "
                    id="menu">
                    <li>
                        <a href="/dashboard" data-bs-toggle="collapse" class="nav-link px-0 align-middle text-light">
                            <i class="fs-4 bi-speedometer2"></i> <span class="ms-1 d-none d-sm-inline">Dashboard</span>
                        </a>

                    </li>
                    <li>
                        <a href="/my-orders" class="nav-link px-0 align-middle text-light">
                            <span class="ms-1 d-none d-sm-inline">My Orders</span></a>
                    </li>
                    <li>
                        <a href="/my-products" class="nav-link px-0 align-middle text-light">
                            <span class="ms-1 d-none d-sm-inline">My Products</span></a>
                    </li>
                    <li>
                        <a href="/sellers/logout" class="nav-link px-1 align-middle text-light">
                            <i class="bi bi-box-arrow-right fs-4"></i><span
                                class="ms-1 d-none d-sm-inline">Logout</span> </a>
                    </li>
                </ul>
            </div>
        </div>
        <div class="col-md-9 py-3 ml-3" style="margin-top: 5rem;">
            <div class="row">
            <div class="col-md-4">
              <div class="card info-card sales-card">
                <div class="card-body">
                  <h5 class="card-title font-weight-bold fs-4 text-primary">Total Products </h5>

                  <div class="d-flex align-items-center">
                    <div class="rounded-circle d-flex align-items-center justify-content-center" style="font-size: 32px; line-height: 0; width: 64px; height: 64px; flex-shrink: 0; flex-grow: 0; color: #4154f1; background: #f6f6fe;">
                      <i class='bx bx-cart'></i>
                    </div>
                    <div class="ps-3">
                      <h6 style="font-size: 28px; color: #012970; font-weight: 700; margin: 0; padding: 0;">{{productCount}}</h6>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-md-4">
              <div class="card info-card sales-card">
                <div class="card-body">
                  <h5 class="card-title font-weight-bold fs-4 text-primary">Total Revenue </h5>

                  <div class="d-flex align-items-center">
                    <div class="rounded-circle d-flex align-items-center justify-content-center" style="font-size: 32px; line-height: 0; width: 64px; height: 64px; flex-shrink: 0; flex-grow: 0; color: #4154f1; background: #f6f6fe;">
                      <i class='bx bx-rupee'></i>
                    </div>
                    <div class="ps-3">
                      <h6 style="font-size: 28px; color: #012970; font-weight: 700; margin: 0; padding: 0;">{{user.totalRevenue}}</h6>
                    </div>
                  </div>
                </div>

              </div>
            </div>
            <div class="col-md-4">
              <div class="card info-card sales-card">
                <div class="card-body">
                  <h5 class="card-title font-weight-bold fs-4 text-primary">Sold Products </h5>

                  <div class="d-flex align-items-center">
                    <div class="rounded-circle d-flex align-items-center justify-content-center" style="font-size: 32px; line-height: 0; width: 64px; height: 64px; flex-shrink: 0; flex-grow: 0; color: #4154f1; background: #f6f6fe;">
                      <i class='bx bx-cart'></i>
                    </div>
                    <div class="ps-3">
                      <h6 style="font-size: 28px; color: #012970; font-weight: 700; margin: 0; padding: 0;">{{soldProduct}}</h6>
                    </div>
                  </div>
                </div>
              </div>
            </div>
            </div>
            <hr>

            <div class="mt-5">
              <div class="card recent-sales overflow-auto">

                <div class="filter">
                  <a class="icon" href="#" data-bs-toggle="dropdown"><i class="bi bi-three-dots"></i></a>
                  <ul class="dropdown-menu dropdown-menu-end dropdown-menu-arrow">
                    <li class="dropdown-header text-start">
                      <h6>Filter</h6>
                    </li>

                    <li><a class="dropdown-item" href="#">Today</a></li>
                    <li><a class="dropdown-item" href="#">This Month</a></li>
                    <li><a class="dropdown-item" href="#">This Year</a></li>
                  </ul>
                </div>

                <div class="card-body">
                  <h5 class="card-title">Recent Sales <span>| Today</span></h5>

                  <table class="table table-borderless datatable" id="sales">
                    <thead>
                      <tr>
                        <th scope="col">#</th>
                        <th scope="col">Customer</th>
                        <th scope="col">Product Name</th>
                        <th scope="col">Price</th>
                        <th scope="col">Category</th>
                        <th scope="col">Image</th>
                        <th scope="col">Status</th>
                        {{#ifEquals this.status "pending"}}
                        <th scope="col">Actions</th>
                        {{/ifEquals}}
                      </tr>
                    </thead>
                    <tbody>
                      {{#each products}}
                      <tr>
                        <th scope="row">{{@index}}</th>
                        <td>{{this.buyer.name}}</td>
                        <td>{{this.product.name}}</td>
                        <td>{{this.product.price}}</td>
                        <td>{{this.product.category}}</td>
                        <td><img src="/images/product-images/{{this.product.p_id}}(1).jpg" class="card-img-top" alt="" style="width: 50px;"/></td>
                        {{#ifEquals this.status "approved"}}
                        <td><span class="badge bg-success">Approved</span></td>
                        {{/ifEquals}}
                        {{#ifEquals this.status "pending"}}
                        <td><span class="badge bg-secondary">Pending</span></td>
                        {{/ifEquals}}
                        {{#ifEquals this.status "rejected"}}
                        <td><span class="badge bg-danger">Rejected</span></td>
                        {{/ifEquals}}
                        {{#ifEquals this.status "pending"}}
                        <td>
                          <a href="/sales-action/approved/{{this.s_id}}/{{this.product.p_id}}/{{this.product.price}}" class="text-success text-decoration-none" >Approve</span>
                          <a href="/sales-action/rejected/{{this.s_id}}/{{this.product.p_id}}/{{this.product.price}}" class="text-danger text-decoration-none ml-2" >Rejected</span>
                        </td>
                        {{/ifEquals}}
                      </tr>
                      {{/each}}
                    </tbody>
                  </table>
                </div>

              </div>
            </div><!-- End Recent Sales -->

        </div>
        
    </div>
</div>

<script type="text/javascript" charset="utf8" src="https://cdn.datatables.net/1.11.5/js/jquery.dataTables.js"></script>
<script>
    $(document).ready( function () {
    $('#sales').DataTable();
} );
</script>